body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h2 {
  font-size: large;
  font-weight: 500;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
}

input {
  padding: 0.5rem;
  background-color: aqua;
  color: black;
  font-size: medium;
  font-weight: 500;
  border: 1px black solid;
  border-radius: 1rem;
}

button {
  max-width: 50%;
  align-self: center;
  background-color: aquamarine;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.current {
  max-width: 25%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.condition {
  font-size: large;
  font-weight: normal;
}

.day {
  font-size: medium;
  font-weight: light;
}

.weekCart {
  display: flex;
}
